html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline; }

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none; }

html,
body {
  width: 100%;
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: arial, sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ins,
a {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0); }

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px; }

html,
body {
  width: 100%;
  height: 100%; }

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

.header {
  width: 100%;
  height: 60px; }
  .header .header-top {
    width: 100%;
    height: 30px;
    display: flex; }
    .header .header-top img {
      height: 100%; }
    .header .header-top input {
      height: 30px;
      border: 1px solid #ccc;
      padding: 0; }
  .header .header-list {
    width: 100%;
    height: 30px; }
    .header .header-list ul {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap; }
      .header .header-list ul li {
        width: 16%;
        height: 100%;
        text-align: center;
        line-height: 2; }
      .header .header-list ul .item {
        color: orange;
        border-bottom: 1px solid orange; }

.main {
  width: 100%;
  flex: 1;
  overflow: auto; }
  .main .main-list {
    width: 100%;
    height: 100px; }
    .main .main-list ul {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap; }
      .main .main-list ul li {
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column; }
        .main .main-list ul li img {
          width: 100%;
          height: auto; }
        .main .main-list ul li span {
          font-size: 12px;
          color: red; }
          .main .main-list ul li span s {
            font-size: 10px;
            color: #ccc; }
  .main .main-img {
    margin-top: 8px;
    width: 100%; }
    .main .main-img img {
      width: 100%; }

.footer {
  width: 100%;
  height: 40px;
  background: #fff; }
  .footer ul {
    width: 100%;
    height: 100%;
    display: flex; }
    .footer ul li {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      text-align: center; }
      .footer ul li img {
        width: 30%;
        margin: 0 auto; }
      .footer ul li .color {
        color: orange; }
